<div class="main-content">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-12">
                <div class="card card-profile">
                    <div class="card-avatar">
                        <a href="javascript:void(0)">
                            <img class="img" src="./assets/img/faces/marc.jpg" />
                        </a>
                    </div>
                    <div class="card-body">
                        <h3 class="card-category text-gray" id="cin"></h3>
                        <h3 class="card-category text-gray" id="nom"></h3>
                        <h4 class="card-title" id="email"></h4>
                        <h4 class="card-title" id="numTel"></h4>
                        <h4 class="card-title" id="adresse"></h4>
                        <a href="javascript:void(0)" class="btn btn-danger btn-round" (click)="closeModal()">Terminer</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>