<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/cars.gif')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand" >
                    <div class="angular-logo">
                    </div>
                    
                    <h1 class="presentation-title" style="color:#F3C910 ;" >SHIN For Rental Cars</h1>    
                    <div class="fog-low">
                    </div>
                    <div class="fog-low right">
                    </div>
                </div>

                <h2 class="presentation-subtitle text-center"></h2>
            </div>
        </div>
        <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
    </div>
    <div class="main">
      <app-basicelements></app-basicelements>
      <app-navigation></app-navigation>    
      <app-typography></app-typography>
    
  
        
      
    </div>
</div>
