<ion-content padding class="animated fadeIn login auth-page">
  <div class="theme-bg"></div>
  <div class="auth-content">

    <br><br><br><br><br>

    <!-- Logo -->
    <div padding-horizontal text-center class="animated fadeInDown">
      <div class="logo"></div>
      <h4 no-margin>
        <ion-text color="light" class="fw700">
		SHIN
         </ion-text>
      </h4>
    </div>

    <!-- Login form -->
    <form [formGroup]="onLoginForm" class="list-form" (ngSubmit)="onSubmit(form)">
      <ion-item no-padding class="animated fadeInUp">
        <ion-label position="floating">
          <ion-icon name="mail" item-start></ion-icon>
          Email
        </ion-label>
        <ion-input color="secondary" type="email" formControlName="email" [email]="true"></ion-input>
      </ion-item>
      <p ion-text class="text08"
        *ngIf="onLoginForm.get('email').touched && onLoginForm.get('email').hasError('required')">
        <ion-text color="warning">
          Required Field
        </ion-text>
      </p>

      <p ion-text class="text08" *ngIf="onLoginForm.get('email').hasError('email')">
        <ion-text color="warning">
          Veuillez fournir une adresse e-mail correctement formatée
        </ion-text>
      </p>


      <ion-item no-padding class="animated fadeInUp">
        <ion-label position="floating">
          <ion-icon name="lock" item-start></ion-icon>
          Password
        </ion-label>
        <ion-input color="secondary" type="password" formControlName="password"></ion-input>
      </ion-item>
      <p ion-text color="warning" class="text08"
        *ngIf="onLoginForm.get('password').touched && onLoginForm.get('password').hasError('required')">
        <ion-text color="warning">
          Required Field
        </ion-text>
      </p>
    </form>

    <p text-right tappable (click)="forgotPass()" class="paz">
      <ion-text color="light">
        <strong>Forgot Pass?</strong>
      </ion-text>
    </p>

    <div>
      <ion-button icon-left size="medium" expand="full" shape="round" color="dark" (click)="login()"
        [disabled]="!onLoginForm.valid" tappable>
        <ion-icon name="log-in"></ion-icon>
        Signin
      </ion-button>
    </div>
  </div>
</ion-content>