<br><div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-5 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <i class="fa fa-car"></i>
                        </div>
                        <p class="card-category">Véhicules dispo</p>
                        <h3 class="card-title">{{nbVhDisp}}</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-danger card-header-icon">
                        <div class="card-icon">
                            <i class="fa fa-car"></i>
                        </div>
                        <p class="card-category">Véhicules indispo</p>
                        <h3 class="card-title">{{nbVhIndisp}}</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <i class="fa fa-file"></i>
                        </div>
                        <p class="card-category">Contrats</p>
                        <h3 class="card-title">{{ nbCntr }}</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <i class="fa fa-users"></i>
                        </div>
                        <p class="card-category">Clients</p>
                        <h3 class="card-title">{{nbClnt}}</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>